body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.tabs{
    width: 100%;
    margin: 4rem 0;
}