$color-1: #fff;
$color-2: #000;
$color-3: #006dfe;
$color-4: #ff7fc2;
$color-5: #00a652;
$color-6: #98a1b0;
$color-7: #BFCADE;
$color-8: #BFCADC;
$color-9: #FF530E;

$container-width: 1200px;

$checkmark-max-width: 215px;
$checkmark-min-width: 160px;